VITE_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
VITE_APPWRITE_PROJECT_ID=your_appwrite_project_id
VITE_APPWRITE_DATABASE_ID=your_database_id
VITE_APPWRITE_SUBJECTS_COLLECTION_ID=your_subjects_collection_id
VITE_APPWRITE_TASKS_COLLECTION_ID=your_tasks_collection_id
VITE_APPWRITE_SESSIONS_COLLECTION_ID=your_sessions_collection_id
VITE_APPWRITE_DISTRACTIONS_COLLECTION_ID=your_distractions_collection_id
VITE_APPWRITE_EXPORTS_BUCKET_ID=your_exports_bucket_id
